/* Головна сторінка */

/* Шапка сайта */

.page-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 37px;
  padding-bottom: 34px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  margin-left: 375px;
  margin-right: 375px;
  align-items: center;
}

.logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--main-color);
  margin-right: 80px;
}

.header-adress {
  margin-right: 50px;
}

.header-form {
  margin-right: 60px;
}

.header-contacts {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 30px;
}

.header-date {
  display: flex;
  justify-content: flex-end;
}

.header-adress {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: var(--adress-color);
}

.header-search {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: var(--adress-color);
}

.header-tel {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: var(--adress-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--main-color);
}

.header-date {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: var(--adress-color);
}

.nav-container {
  display: flex;
  justify-content: center;
  margin-left: 375px;
  margin-right: 375px;
  align-items: center;
}

.nav-menu {
  display: flex;

}

.menu-link {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--adress-color);
margin-left: 80px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--main-color);
}

.menu-link current {
  color: var(--main-color);
}

/* Баннер */

.hero {
  /*max-width: 1920px;
  margin-left: auto;
  margin-right: auto;*/
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Спеціальні пропозиції */

.propoz {
  padding-bottom: 185px;
}

.propoz-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.propoz-item:not(:last-child) {
  margin-right: 30px;
}

.propoz-images {
  border-radius: 10px;
}

/* Популярні категорії */

.heading-main {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 1.5;
text-transform: uppercase;
color: var(--adress-color);
text-align: center;
margin-bottom: 40px;
}

/* Футер */

.footer-newsletter {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 1.5;
text-transform: uppercase;
}

.footer-list {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

.footer-confidentiality {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
}

.heading-footer {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: var(--adress-color);
}

.adress-link {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--adress-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--main-color);
}

.adress-pol {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: var(--adress-color);
}
