/* Головна сторінка */

/* Шапка сайта */

.logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--main-color);
}

.header-adress {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: var(--adress-color);
}

.header-search {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: var(--adress-color);
}

.header-tel {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: var(--adress-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--main-color);
}

.header-date {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: var(--adress-color);
}

.menu-link {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--adress-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--main-color);
}

.menu-link current {
  color: var(--main-color);
}

/* Спеціальні пропозиції */


/* Популярні категорії */

.heading-main {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 1.5;
text-transform: uppercase;
color: var(--adress-color);
text-align: center;
}

/* Футер */

.footer-newsletter {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 1.5;
text-transform: uppercase;
}

.footer-list {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

.footer-confidentiality {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
}

.heading-footer {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: var(--adress-color);
}

.adress-link {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--adress-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--main-color);
}

.adress-pol {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: var(--adress-color);
}
